body{
    background-color: hwb(192 26% 23%);
    font-family: 'Arial', Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.holder{
    background-color: rgb(37, 199, 172)  ;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}
label{
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: hsl(0, 0%, 100%);
}
.inpubox{
    margin-bottom: 13px;
}
input[type="text"]{
    width:calc(100% - 22px);
    border: 1px solid #d8d2d2;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
}
button{
    padding: 10px 20px;
       border-radius: 10px;
       background-color: hsl(197, 69%, 37%);
       color: white;
       font-size: 16px;
}
.btn{
    display:flex;
    justify-content: space-evenly;
    margin-top: 20px;    
}
button:hover{
    background-color: hsla(197, 27%, 77%, 0.281);
    cursor: pointer;
}